<xf:macro id="countdown" arg-notice="!">
	<xf:css src="public:cv6_countdown.less" />
	<xf:checkboxrow 
		label="{{ phrase('cv6_include_countdown') }}"
		explain="{{ phrase('cv6_explain_countdown') }}  {$notice.cv6_countdown}"
	>
		<xf:option value="no" label="{{ phrase('cv6_display_countdown') }}" selected="{{ ( $notice.cv6_countdown=='no' || $notice.isInsert() ) ? '' : 'selected' }}" data-hide="true">
			<xf:dependent>
				<xf:radio name="cv6_countdown" value="{$notice.cv6_countdown}"> 
					<xf:option value="default" label="{{ phrase('cv6_no_or_default_styling') }}" />
					<xf:option value="plate" label="{{ phrase('cv6_plate') }}" />
					<xf:option value="badge" label="{{ phrase('cv6_badge') }}" />
					<xf:option value="custom" label="{{ phrase('cv6_custom') }}" />
					<xf:option value="bigplate" label="{{ phrase('cv6_bigplate') }}" />
				</xf:radio>
			</xf:dependent>
		</xf:option>
	</xf:checkboxrow>

	<xf:macro id="cv6_fa_icon::cv6_inputIcon" 
		arg-target="countdown-icon" 
		arg-name="cv6_countdown_icon"
		arg-label="{{ phrase('cv6_countdown_icon') }}" 
		arg-hint="{{ phrase('cv6_including_fa') }}" 
		arg-value="{{ $notice.cv6_countdown_icon ?: '' }}"
		arg-stylechooser="{{ ['style','rotation', 'animation'] }}"
		/>

	<hr class="formRowSep" />
</xf:macro>